.card{
    background-color: var(--card);
    height: 6.25vh;
    width: 16.5vw;
    border-radius: 5vh;
    font-family: 'Inter';
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}
.card h3{
    font-size: 0.9rem;
    color: var(--text);
}
.circle{
    width: 0.52vw;
    aspect-ratio: 1 / 1;
    background-color: #00C853;
    border-radius: 100%;
      position: relative;
}
.circle::after{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%;
  background: #00ff5e;
     filter: blur(2px);
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1536px){
  .card{
    width: 20.625vw;
    height: 7.8125vh;
  }
  .circle{
    width: 0.78vw;
    aspect-ratio: 1/1;
  }
  .card h3{
    font-size: 0.9rem;
  }
}
@media (max-width: 1280px){
  .card h3{
    font-size: 0.6rem;
  }
}