.card{
    margin: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    background-color: var(--card);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
}
.card:hover{
    transform: scale(1.01);
}
.div{
    display: flex;
    align-items: left;
}

.profile{
    width: 256px;
    height: 256px;
    border-radius: 100%;
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.4));
    transition: 0.2s ease;
    user-select: none;
    -webkit-user-drag: none;
}
[data-theme="light"]{
  --text: #111111;
  --card: #F5F5F5;
}
[data-theme="dark"] .github{
  filter: invert(1);
}
.fullstack{
    margin-top: 0px;
    font-family: "Poppins", sans-serif;
    color: var(--text);
    font-size: 19px;
    font-weight: 50;
}
.name{
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    color: var(--text);
}
.contact{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    
}
.contact img{
    width: 35px;
    height: 35px;
    user-select: none;
    -webkit-user-drag: none;
}
.contacts{
    display: flex;
    gap: 15px;
}
.contact .github{
    width: 40px;
    height: 40px;
}
.github{
    width: 40px;
    height: 40px;
}