.bar{
    display: flex;
    user-select: none;
    -webkit-user-drag: none;
    gap:1.875rem;
}

.bar p{
    height: 2.1vh;
    cursor: pointer;
    color: var(--text);
    font-family: 'Inter';
    transition: 0.2s ease;
    border-bottom: solid transparent 1px;
    font-size: 1rem;
}
.bar p:hover{
    transform: scale(1.03);
    border-color: var(--text);
}
.active{
    transition: 0.2s ease;
    height: 3.8vh;
    border-bottom: solid var(--text) 2px;
}

@media (max-width: 1536px){
    .bar p{
        font-size: 1.125rem;
        height: 3.3vh;
        border-bottom: solid transparent 2px;
    }
    .active{
        height: 6vh;
        border-bottom: solid var(--text) 3px;
    }
}
@media (max-width: 1280px){
    .bar p{
        font-size: 0.66rem;
    }
}