.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 100%;
    background: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    position:fixed;
    right: 10px;
}
.button img{
    width: 3.5vw;
    aspect-ratio: 1 / 1;
    user-select: none;
    -webkit-user-drag: none;
}
[data-theme="dark"] .button img {
  filter: invert(1);
}

@media (max-width: 1536px){
    .button{
        width: 4vw;
    }
    .button img{
        width: 4vw;
    }
}