.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.div{
      position: relative;
    display: flex;
    flex-direction: column;
    gap:15px;
    background: var(--bg);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}
.h2{
    font-family: "Poppins", sans-serif;
    font-weight: 549;
    color: var(--text);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.cross{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.2s ease;
}
.cross:hover{
    transform: scale(1.1);
}
[data-theme="dark"] .cross {
  filter: invert(1);
}
.crossButton{
    background: none;
    border: none;
}
