:root{
  --bg: #121212;
  --text: white;
  --button: #1A1A1A;
  --border: white;
  --card: rgba(31, 31, 31, 0.95);
}
[data-theme="light"]{
  --bg: #FAFAFA;
}
body{
  background-color: var(--bg);
}
* {
  transition: background-color 0.2s ease, color 0.2s ease;
}