:root{
  --bg: rgba(18, 18, 18, 0.4);
  --text: white;
  --button: #1A1A1A;
  --border: white;
  --card: rgba(31, 31, 31, 0.4);
  --text2: #c5c5c5;
  --cardhover: rgba(43, 43, 43, 0.4);
  --texthover: rgb(212, 212, 212);
  --shadow: rgba(253, 253, 253, 0.2);
  --settings: rgba(18, 18, 18, 1)
}
[data-theme="light"]{
  --bg: rgba(250, 250, 250, 0.4);
  --cardhover: rgba(228, 228, 228, 0.4);
  --texthover: rgb(61, 61, 61);
  --shadow: rgba(31, 31, 31, 0.2);
  --settings: rgba(250, 250, 250, 1);
}
@keyframes auroraMovement {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
[data-theme="light"] body{
  background: linear-gradient(270deg, #ffffff, #d5e6fd, #ffffff, #daf8e3);
  background-size: 400% 400%;
  animation: auroraMovement 30s ease infinite;
}
body {
  background: linear-gradient(270deg, #0d0d0d, #05162a, #0d0d0d, #032015);
  background-size: 400% 400%;
  animation: auroraMovement 30s ease infinite;
}
.with-transition body {
  transition: background-color 0.2s ease, color 0.2s ease;
}